@{
    ViewData["Title"] = "Dashboard - ";
}

<head>
    <!-- Enlace a la hoja de estilos del dashboard -->
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <!-- Enlace a la librería SweetAlert2 para mostrar alertas bonitas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="container" style="margin: 0; padding: 0;">
    <!-- Barra de navegación -->
    <nav>
        <a href="#" class="logo">BuildMart</a>
        <div class="links">
            <a asp-action="Index">Inicio</a>
        </div>
        <div class="login">
            <!-- Enlace para cerrar sesión -->
            <a href="javascript:void(0);" class="signup" id="signup" onclick="logout()">Cerrar Sesión</a>
        </div>
    </nav>

    <!-- Encabezado del Dashboard -->
    <div class="infoD">
        <h1>Dashboard de BuildMart</h1>
        <p>Aquí puedes gestionar el contenido de Build Mart.</p>
    </div>

    <!-- Secciones del Dashboard -->
    <div class="dashboard-sections">
        <!-- Sección para gestionar usuarios -->
        <div class="section">
            <i class="fa-solid fa-users fa-dash"></i>
            <h2>Gestionar Usuarios</h2>
            <p>Agregar, editar o eliminar usuarios.</p>
            <a asp-controller="Usuarios" asp-action="Index" class="btn">Gestionar</a>
        </div>

        <!-- Sección para gestionar productos -->
        <div class="section">
            <i class="fa-solid fa-helmet-safety fa-dash"></i>
            <h2>Gestionar Productos</h2>
            <p>Agregar, editar o eliminar productos.</p>
            <a asp-controller="Productos" asp-action="Index" class="btn">Gestionar</a>
        </div>

        <!-- Sección para gestionar proveedores -->
        <div class="section">
            <i class="fa-solid fa-boxes-packing fa-dash"></i>
            <h2>Gestionar Proveedores</h2>
            <p>Agregar, editar o eliminar <br>proveedores.</p>
            <a asp-controller="Proveedores" asp-action="Index" class="btn">Gestionar</a>
        </div>

        <!-- Sección para gestionar compras -->
        <div class="section">
            <i class="fa-solid fa-cart-shopping fa-dash"></i>
            <h2>Gestionar Compras</h2>
            <p>Agregar, editar o eliminar compras.</p>
            <a asp-controller="Compras" asp-action="Index" class="btn">Gestionar</a>
        </div>

        <!-- Sección para gestionar ventas -->
        <div class="section">
            <i class="fa-solid fa-cash-register fa-dash"></i>
            <h2>Gestionar Ventas</h2>
            <p>Agregar, editar o eliminar ventas.</p>
            <a asp-controller="Ventas" asp-action="Index" class="btn">Gestionar</a>
        </div>
    </div>

    <!-- Sección del pie de página -->
    <footer style="width: 100%;">
        <p>Copyright © 2024 Build Mart</p>
    </footer>
</body>

<script>
    // Función para cerrar sesión con una alerta de confirmación
    function logout() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cerrar sesión'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirigir a la acción de logout en el controlador de usuarios
                window.location.href = '@Url.Action("Logout", "Usuarios")';
            }
        })
    }
</script>