@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #1f71d0;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #000000;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #f1f1f1;
  margin-bottom: 0;
}

nav {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav a.logo {
  font-size: 33px;
  color: #0f2182;
  font-weight: 600;
}

nav .links a:not(:last-child) {
  margin-right: 20px;
}

nav .login #signup {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav .login #signup {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  margin-right: 14px;
}

.infoD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.dashboard-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-dash {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}

.section {
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.section:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 1rem;
}

.section p {
  margin-bottom: 1rem;
}

.section .btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  margin-top: 100px;
  padding: 1rem;
  background-color: transparent;
  color: black;
}

.contenedor-productos {
  border: 2px solid var(--color-primary);
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 500px;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.contenedor-productos input {
  padding: 3px;
}

.contenedor-productos .buscador .search {
  margin-left: 5px;
  align-items: center;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.88rem;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

.container {
  height: 100vh;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
  gap: 1rem;
  max-width: 1600px;
}

main {
  padding: 1rem;
  margin-left: 30px;
}

.mainTables {
  margin-top: 30px;
}

main .recent-orders {
  margin-top: 1.3rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background-color: var(--color-white);
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  font-weight: 400;
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  margin: 1rem auto;
  gap: 3px;
  margin-left: 5px;
  color: var(--color-primary);
}

main .recent-orders table tbody tr:nth-child(odd) {
  background-color: #d9d9d9;
}

main .recent-orders table tbody tr:nth-child(even) {
  background-color: #cecece;
}

.linksOptions-cat{
  margin-left: 90px;
}

.linksOptions {
  margin-bottom: 80px;
  margin-left: 520px;
  margin-top: 20px;
}


.linksOptions button {
  margin-right: 5px;
}

.botones {
  background-color: #6c747e;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

th {
  text-align: center !important;
}

th,
td {
  text-align: center !important;
}

.stock-bajo {
  color: red;
  font-weight: bold;
}

.stock-alto {
  color: #007aff;
  font-weight: bold;
}

.linksOptionsUser {
  margin-left: 480px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

/* Añadir transición al aside */
#asideMenu {
  /* display: none; */
  position: absolute;
  top: 80px; /* Ajusta según sea necesario */
  left: 14%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#asideMenu.show {
  opacity: 1;
  visibility: visible;
}

#asideMenu ul li {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#asideMenu ul li:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
  transform: translateX(10px); /* Mueve el elemento ligeramente a la derecha */
}

#asideMenu ul li.active a {
  background-color: var(--color-primary); /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  font-weight: bold; /* Cambia el peso de la fuente */
}

#asideMenu ul li.active a i {
  color: white; /* Cambia el color del icono */
}
